body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #fafafa;
}

input, button {
  display: block;
  margin: 8px 0;
  padding: 10px;
  width: 300px;
}

button {
  background: #032b56;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

h2, h3 {
  color: #333;
}

#eventsList {
  margin-top: 10px;
  padding: 10px;
}
